<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
	</style>
	<link href="/css/introHCI.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="/js/home.js"></script>
</head>
<body>

	<div class = "nav-options upper">
		<div id = "back">
			<a href = "/"><img src = "../images/{{icons.[logout]}}" alt = "back" height = "50vh">
			<p style = "text-align: left;">logout</p></a>
		</div>
		{{#each user}}
		<h1 id = "welcome">Welcome,<br> {{name}}!</h1>
		{{/each}}
		
	</div>
	

	<div class = "nav-options mid">
		{{#each loadMethods}}
			<div class = "grow" id = "{{alt}}">
				<a href = "{{link}}">
					<img src = "../images/{{icon}}" alt = {{alt}} height = "100"><br>

					<span class = "btnLabel">{{label}}</span>
				</a>
			</div>
			<div class="break"></div>
		{{/each}}
	</div>
	<div class = "nav-options lower"></div>
	{{> footer}}

	
</body>
</html>
